/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FAFAFA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	background:#FAFAFA;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	}

header a{
		width: 25%;
		display: inline-block;
		margin-left: -3px;
		text-align: center;
		box-sizing: border-box;
		padding: 12px;
		z-index: 20;
    text-decoration: none;
        font-size: 160%;
        color: black;
        font-family: 'Lobster';
 text-decoration: none;
        font-size: 160%;
        color: black;
    font-family: 'Lobster';
		
		
	}

		.far{
			color: black;
			font-size: 25px;

		}
		.fa-heart:hover{
			color: red;
		}

section{
	width: 50%;
	position: static;
    margin-top: 70px;
    margin: 0 auto;
     
    

}
.header{
	background: #FAFAFA;
	display: flex;
    


}


.profile-img img{
	border: 2px solid red ;
	border-radius: 50%;
	width: 150px;
	margin-top: 70px;

}
.profile-info{
	margin-left: 100px;
	margin-top: 90px;
	font-size: 30px;
	text-transform: lowercase;
	font-family: 'tahoma';

}

.button {
	border:1px solid grey;
	border-radius: 3px;
	width: 180px;
	margin-top: 100px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
    text-align: center;

}
.button a{
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	color: black;
	font-weight: bold;

}
.settings{
	margin-top: 95px;
	font-size: 30px;
	text-transform: lowercase;
	font-family: 'tahoma';

}
.followers {
	margin-top: 130px;
	font-size: 15px;
	text-transform: lowercase;
	font-family: 'tahoma';
    margin-left: -385px;
    
    color: black;
    
}
ul{
    display: block;
    font-size: 0;
    
}
li{
    display: inline-block;
    margin: 10px;
    font-family: 'arial';
    
    
}
li a{
    text-decoration: none;
    color: black;
    
}

ul span{
   font-weight: bold;
    
}

.menu{
	background: #FAFAFA;
	display: flex;
    height: 10%;
    width: 100%;
}
.menu p{
    color: darkgray;
}

.tabs{
    margin-left: -600px;
    margin-top: 30px;
    font-size: 15px;
    
    
}
.tabs i{
    font-size: 19px;
    margin: 0px 3px 5px 30px ;
    color: black;
}
.tabs a{
    text-decoration: none;
    color: black;
    
    
}
.tabs span{
    font-weight: bold;
    font-family: serif;
}


